.coin-container {
  display: flex;
  justify-content: center;
  background-color: rgb(255,255,255);
  width: 100%
}

.coin-container:hover {
  background: rgba(17, 51, 83, 0.02);
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 72px;
  border-bottom: 1px solid #d7d7d7;
}

.coin {
  display: flex;
  align-items: center;
  min-width: 300px;
  
}

.coin-rank {
  margin-left: 10px;
  margin-right: 10px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.coin h1 {
  font-size: 14px;
  width: 150px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;

}

.coin-price {
  width: 70px;
  font-size: 14px; 
}

.coin-percent {
  width: 60px;
  font-size: 14px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

.coin-marketcap {
  width: 180px;
  margin-right: 10px;
  font-size: 14px;
}

.select_button {
  border: 1px solid rgb(22, 82, 240);
  background-color: rgb(22, 82, 240);
  color: white;

  border-radius: 4px;
  transition: all 80ms ease-in-out 0s;
  width: 100px;
  height: 35px;
  font-weight: bold;
  margin: 5px;
}

.select_button:hover {
  background-color: rgb(10, 70, 228);
  border-color: rgb(10, 70, 228);
}

/*********** Coin Modal **************/
.coin__modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coin__modal__container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  min-width: 500px;
  height: 400px;
  background-color: rgba(22, 21, 21, 0.733);
  padding: 10px;
  border-radius: 10px;
}

/* Coin Header*/

.modal__title {
  font-weight: bold;
}

.coin__modal__header {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.coin__modal__header h1 {
  font-size: 30px;
  font-weight: bold;
}

.coin__modal__header img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
}
.coin__modal__symbol {
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 5px;
  font-size: 26px;
}

.coin__modal__price {
  margin: 15px;
  margin-right: 15px;
  font-size: 34px;
  font-weight: bold;
}

.coin__modal__percent {
  padding-top: 15px;
  font-size: 24px;
  margin-right: 20px;
}

/* Coin Price Data */
.coin__modal__data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.data1 {
  width: 25%;
  height: 100%;
  padding: 10px;
}
/* Coin Supply Data */

.coin__modal__supply {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  height: 80px;
  width: 100%;  
  font-size: 16px;
  margin-bottom: 10px;
}

.supply1 {
  width: 33%;
  height: 100%;
  padding: 20px;  
}

/* Coin All Time High Data */

.coin__modal__ath {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content:center;
  align-items: center;
}

.ath1 {
  width: 33%;
  height: 100%;
  padding: 20px;
}