.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(246, 249, 252);
}

.home_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 1px solid rgb(236, 239, 241);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: rgb(17 51 83 / 2%) 0px 4px 12px 0px;
}

.instructions {
  font-weight: 400;
  color: rgba(17, 51, 83, 0.6);
  margin-left: 40px;
}

.inputs__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 8px;
  border: 1px solid rgb(236, 239, 241);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: rgb(17 51 83 / 2%) 0px 4px 12px 0px;
}

.amount_frequency {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;

}

.date_inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.calculate_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;

}


.your_selection {
  display: flex;
  width: 100%;
  height: 100px;
  flex-direction: row;  
}

.calculate_title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  width: 50%;
  font-weight: 600;
  font-size: 16px;  
}

.coin_selection {
  width: 50%;
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculate_button {
  background-color: rgb(5, 177, 105);  
  border: 1px solid rgb(5, 177, 105);
  color: white;

  border-radius: 4px;
  transition: all 80ms ease-in-out 0s;
  height: 40px;
  width: 150px;
  font-weight: bold;
}

.calculate_button:hover {
  background-color: rgb(0, 165, 93);
  border-color: rgb(0, 165, 93);
}


.search_bar {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 48px;
  padding: 0px 16px;
  border: 1px solid rgb(236, 239, 241);
  border-radius: 4px;
  box-shadow: rgb(17 51 83 / 2%) 0px 4px 12px 0px;
  background: rgb(255, 255, 255);
}

.coin_results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding-top: 10px;
  width: 100%;
}

.coins__container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin_img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}


@media (max-width: 604px) {
  .inputs__container {
    flex-direction: column;
    width: 100%;
  }

  .fullsize__links__container {
    display: none;
  }

}