.navbar__component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  border-bottom: 1px solid rgb(236, 239, 241); 
}

.title__container {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;  
}

.title__link {
  text-decoration: none;
  color: rgb(22, 82, 240);
  font-weight: 650;
  font-size: 1.5rem;
  letter-spacing: 0.02rem;
  margin-right: 1rem;
}

#coingecko__container {
  display: flex;
  flex-direction: row;
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.navbar__component img {
  height: 40px;
  object-fit: contain;
}


.navbar__link {
  text-decoration: none;
  color:black;
  font-weight: 600;
}

.fullsize__links__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.saved__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}

.notifications {
  margin-left: 7px;
  background-color: red;
  color: white;
  border-radius: 100px;
  width: 40px;
  height: 30px;  
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 880px) {
  .toggle-button {
    display: flex;
  }

  .navbar__component {
    display: flex;
    flex-direction: column;
  }

  .fullsize__links__container {
    display: none;
  }

}

@media (min-width: 900px) {
  .hamburger__links__container {
    display: none;
  }
}

@media (max-width: 500px) {
  .title__container {
    flex-direction: column;
  }
}