.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 5px solid green;
  width: 90%;
}

.amount_frequency {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  border: 5px  solid red;
  width: 30%;
}

.date_inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  border: 5px  solid red;
  width: 30%;
}
.calculate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 5px  solid red;
  width: 30%;
}

.coinResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 5px  solid red;
}

