.header {
  border: 2px solid green;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
}

.all_results {
  display: flex;
  padding: 10px;
  margin: 10px;
  border: 2px solid blue;
};

.total_results {
  border: 2px solid red;

  display: flex;
}

.lump_sum {
  display: flex;
  border: 2px solid green;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.lump_sum1 {
  display: flex;
  border: 2px solid red;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.table_title {
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.table_results {
  margin: 10px;
  padding: 10px;
}