.header {
  display: flex;
  flex-direction: row;
  padding: 20px;
  
}

.back_button {
  color: white;
  border: 1px solid rgb(22, 82, 240);
  background-color: rgb(22, 82, 240);
  border-radius: 4px;
  transition: all 80ms ease-in-out 0s;
  height: 40px;
  width: 140px;
  min-width: 140px;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

.back_button:hover {
  background-color: rgb(10, 70, 228);
  border-color: rgb(10, 70, 228);
}

.above_table {
  background-color: rgb(246, 249, 252);
}


.summary_tab {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid rgb(236, 239, 241);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  margin: 5px;
  font-size: 18px;
}

.lump_sum_tab {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border: 1px solid rgb(236, 239, 241);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  margin: 5px;
  font-size: 18px;
}

.table_title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.table_results {
  margin: 10px;
  padding: 10px;
  
}

.download-table-xls-button {
  color: white;
  border: 1px solid rgb(22, 82, 240);
  background-color: rgb(22, 82, 240);
  border-radius: 4px;
  transition: all 80ms ease-in-out 0s;
  height: 50px;
  width: 120px;
  min-width: 120px;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

.download-table-xls-button:hover {
  background-color: rgb(10, 70, 228);
  border-color: rgb(10, 70, 228);
}

.coin_image {
  margin-left: 10px;
}

/* Tabs */

.bloc-tabs {
  display: flex;
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: white;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
  font-weight: bold;
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(22, 82, 240);
}

.content-tabs {
  flex-grow : 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
